.header__block-top {
    display: flex;
    height: 119px;

    background: no-repeat url(../../img/background-header.png);
    background-size: cover;
    background-position: center;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 58%;

    justify-content: space-between;
}

.logo-city {
    display: flex;
    gap: 1vw;
}

.social-phone {
    display: flex;
    gap: 6.15vw;

    align-items: center;
}

.header__block-bottom {
    display: flex;
    min-height: 4.01vw;

    background: #000;

    justify-content: center;
}

.header__wr-nav-order {
    display: flex;
    width: 58%;

    justify-content: space-between;
    align-items: center;
}